

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('adminCategories_index') }}">Catégories</a>
            </li>
            <li>
                <a href="{{ path('adminProduits_index') }}">Produits</a>
            </li>
        </ul>
    </div>
    
    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('adminUtilisateurs') }}">Clients</a>
            </li>
            <li>
                <a href="{{ path('adminCommandes_index') }}">Commandes</a>
            </li>
        </ul>
    </div>

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="">Transport</a>
            </li>
            <li>
                <a href="">Paiement</a>
            </li>
        </ul>
    </div>
    
    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('adminPages_index') }}">Pages</a>
            </li>
            <li>
                <a href="">Blog</a>
            </li>
        </ul>
    </div>
            
    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('produits') }}"><i class="fa fa-home"></i>&nbsp;MyPanier.fr</a>
            </li>
        </ul>
    </div> 