{% extends "::layout/base3.html.twig" %} 

{% block body %}
<div class="container">
    <div class="row">

        <!--<div class="span3">
            {% include '::modulesUsed/navigation.html.twig' %}  
            {{ render(controller('EcommerceBundle:Panier:menu')) }}
            </div>	-->			
                
                {% for messages in app.session.flashBag.all %}
                   {% for message in messages %}
                       <div class="alert alert-success">
                           {{ message }}
                       </div>
                   {% endfor %}
               {% endfor %}
                 {% for messages in app.session.flashBag.all %}
                   {% for message in messages %}
                       <div class="alert alert-errors">
                           {{ message }}
                       </div>
                   {% endfor %}
               {% endfor %}
                
                <h2>Mes factures</h2>
                <form>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Réf</th>
                                <th>Date</th>
                                <th>Prix TTC</th>
                                <th>PDF</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if factures|length == 0 %}
                                <tr>
                                    <td colspan="4"><center>Aucune facture actuellement.</center></td>
                                </tr>
                            {% endif %}
                            {% for facture in factures %}
                            <tr>
                                <td>ref : {{ facture.reference }}</td>
                                <td>{{ facture.date|date('d/m/Y', "Europe/Paris") }} à {{ facture.date|date('H:i', "Europe/Paris") }}</td>
                                <td>{{ facture.commande.prixTTC| number_format(2, '.', ',')}} €</td>
                                <td><a href="{{ path('facturesPDF', { 'id' : facture.id }) }}" target="_blank">Télécharger</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>

            {% include '::modulesUsed/utilisateurConnecte.html.twig' %} 

        </div>
    </div>
{% endblock %}
